<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>

		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}

		<style>
			.myTabel {
				font-family: Arial, Helvetica, sans-serif;
				border-collapse: collapse;
				width: 100%;
			}

			.myTabel td,
			.myTabel th {
				border: 1px solid #ddd;
				padding: 8px;
			}

			.myTabel tr:nth-child(even) {
				background-color: #f2f2f2;
			}

			.myTabel tr:hover {
				background-color: #ddd;
			}

			.myTabel th {
				padding-top: 12px;
				padding-bottom: 12px;
				text-align: left;
				background-color: #4CAF50;
				color: white;
			}

			.myTabel td {
				text-align: center;
			}

			.myTabel td button.updateValue {
				width: 20px;
				height: 20px;
				border-radius: 50%;
				border: 1px solid #ddd;
				background-color: #f2f2f2;
				font-weight: bold;
				margin: 0 5px;
			}

			button.plus_button {
				color: green;
			}

			button.minus_button {
				color: red;
			}

			button.updateBestGame {
				background-color: #4CAF50;
				color: white;
				border: none;
				border-radius: 5px;
				padding: 5px 10px;
				margin: 0 5px;
			}
		</style>
	</head>
	<body>
		<table class="myTabel">
			<thead>
				<tr>
					<th>Name</th>
					<th>Win white</th>
					<th>Win black</th>
					<th>Lose white</th>
					<th>Lose black</th>
					<th>Best game</th>
				</tr>
			</thead>
			<tbody>
				{% for user in users %}
					<tr>
						<td>{{ user.name }}</td>
						<td>
							<button class="updateValue" type="button" enable={{user.getWhiteWin() > 0}} class="minus_button" onclick="updateValue({{ user.id }}, 'whiteWin', {{ user.getWhiteWin() - 1 }})">-</button>
							{{ user.getWhiteWin() }}
							<button class="updateValue" type="button" class="plus_button" onclick="updateValue({{ user.id }}, 'whiteWin', {{ user.getWhiteWin() + 1 }})">+</button>
						</td>
						<td>
							<button class="updateValue" type="button" enable={{user.getBlackWin() > 0}} class="minus_button" onclick="updateValue({{ user.id }}, 'blackWin', {{ user.getBlackWin() - 1 }})">-</button>
							{{ user.getBlackWin() }}
							<button class="updateValue" type="button" class="plus_button" onclick="updateValue({{ user.id }}, 'blackWin', {{ user.getBlackWin() + 1 }})">+</button>
						</td>
						<td>
							<button class="updateValue" type="button" enable={{user.getWhiteLose() > 0}} class="minus_button" onclick="updateValue({{ user.id }}, 'whiteLose', {{ user.getWhiteLose() - 1 }})">-</button>
							{{ user.getWhiteLose() }}
							<button class="updateValue" type="button" class="plus_button" onclick="updateValue({{ user.id }}, 'whiteLose', {{ user.getWhiteLose() + 1 }})">+</button>
						</td>
						<td>
							<button class="updateValue" type="button" enable={{user.getBlackLose() > 0}} class="minus_button" onclick="updateValue({{ user.id }}, 'blackLose', {{ user.getBlackLose() - 1 }})">-</button>
							{{ user.getBlackLose() }}
							<button class="updateValue" type="button" class="plus_button" onclick="updateValue({{ user.id }}, 'blackLose', {{ user.getBlackLose() + 1 }})">+</button>
						</td>
						<td>
							<input type="text" id="bestGame{{ user.id }}" value="{{ user.getBestGame() }}">
							<button class="updateBestGame" type="button" onclick="updateBestGame({{ user.id }}, 'bestGame', )">Aktualizovat</button>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<br/>
		{{ form_start(form) }}
		{{ form_widget(form) }}
		<button type="submit">Add new user</button>
		{{ form_end(form) }}
	</body>

	 <script>
			function updateValue(id, field, value) {
				fetch('/update/' + id + '/' + field + '/' + value, { method: 'POST' })
					.then(function(response) {
						if (!response.ok) {
							throw new Error('Chyba při aktualizaci hodnoty');
						}
						return response.text();
					})
					.then(function(data) {
						location.reload(); // obnoví stránku po úspěšné aktualizaci
					})
					.catch(function(error) {
						console.error(error);
					});
			}
	
			function updateBestGame (id, field) {
				var value = document.getElementById('bestGame' + id).value;
				fetch('/update/' + id + '/' + field + '/' + value, { method: 'POST' })
					.then(function(response) {
						if (!response.ok) {
							throw new Error('Chyba při aktualizaci hodnoty');
						}
						return response.text();
					})
					.then(function(data) {
						location.reload(); // obnoví stránku po úspěšné aktualizaci
					})
					.catch(function(error) {
						console.error(error);
					});
			}
		</script>
</html>
